{% extends "blog/base.html" %}
{% block style %}

#follow-button {
  color: #e03a3c;
  font-family: "Helvetica";
  
  background-color: #ffffff;
  border: 1px solid;
  border-color: #e03a3c;
  border-radius: 3px;
  width: 85px;
  height: 30px; 	
  cursor: hand;
  float: right; 	   
}

{% endblock style %}
{% block content %}


<br>
<div class="jumbotron " style="background-color:white; box-shadow: 0 4px 16px rgb(224 58 60 / 13%);" >
<div class="row" style="display:initial;">
<h1 class="display-5" style="float:left;">{{ view.kwargs.category }} </h1>
{% if user.is_authenticated %}


	{% if follow_status %}
		<button type = "submit" class = "btn btn-danger follow-btn"  style="float:right; " id="follow-btn" onclick="category_ajax()"> Following</button>
	{% else %}
		<button  type = "submit" class = "btn btn-outline-danger follow-btn" style="float:right; " id="follow-btn" onclick="category_ajax()" >+ Follow</button>
	{% endif %}
    <a class="btn btn-outline-danger mx-2 " href="{% url 'room' view.kwargs.category  %}" role="button" style="float:right; " ><i class="fas fa-comments"></i> Chat</a>
    {% comment %} <a class=" " href="{% url 'room' view.kwargs.category  %}" role="button" style="float:right;" ><i class="fas fa-comments"></i></a> {% endcomment %}
	
	
		
	
  {% endif %}
  </div>
</div>




{% if num_of_post > 1 %}
<h2 class="comments-count">{{ num_of_post }} Posts</h2>
{% elif num_of_post == 0 %}
{% else %}
<h2 class="comments-count">{{ num_of_post }} Post</h2>
{% endif %} 

 {% for post in page_obj %}
    {% if post.is_appropriate %}
    <article class="entry">

			<div class="entry-img">
			<img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
			</div>

			<h2 class="entry-title">
			<a href="{% url 'post-detail' post.slug %}">{{ post.title }}</a>
			</h2>

			<div class="entry-meta">
			<ul>
				<li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a></li>
				<li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="blog-single.html"><time datetime="">{{ post.date_posted|date:"F d, Y" }}</time></a></li>
				{% comment %} <li class="d-flex align-items-center"><i class="icofont-comment"></i> <a href="blog-single.html">12 Comments</a></li> {% endcomment %}
			</ul>
			</div>

			<div class="entry-content">
			<p>
            {% if post.content|length > 170%}
				{{ post.content|slice:":170"| safe }}...
            {% else %}
                {{ post.content|slice:":170"| safe }}
            {% endif %}
			</p>
			<p class="d-flex align-items-center">
			{{ post.number_of_upvotes }}
			&nbsp;
			<i class="icofont-thumbs-up"></i>
			 &nbsp; &nbsp;
			{% comment %} {{ post.number_of_downvotes }}
			&nbsp;
			<i class="icofont-thumbs-down"></i>
	
			</p> {% endcomment %}
			<div class="read-more">
				<a href="{% url 'post-detail' post.slug %}">Read More</a>
			</div>
			</div>

		</article><!-- End blog entry -->
        {% endif %}
	{% endfor %}

		{% if num_of_post > 5 %}
		<div  >
		<div class="mr-auto">
		{% if is_paginated%}
		{% if page_obj.has_previous %}
			<a class="btn btn-outline-danger mb-4" href="?page=1">First</a>
			<a class="btn btn-outline-danger mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}

		{% for num in page_obj.paginator.page_range %}

			{% if page_obj.number == num %}

				<a class="btn btn-danger mb-4" href="?page={{ num }}">{{ num }}</a>
			{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
				<a class="btn btn-outline-danger mb-4" href="?page={{ num }}">{{ num }}</a>
			{% endif %}

		{% endfor %}

		{% if page_obj.has_next %}
			<a class="btn btn-outline-danger mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
			<a class="btn btn-outline-danger mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
		{% endif %}

	{% endif %}
	</div>
	</div>
	{% endif %}
	{% endblock content %}

	{% block script %}
	

	category_ajax = function(){
		console.log("hehehe");
		 $.ajax({
             type: "POST",
             url: "{% url 'category-ajax' %}",
             data: {'csrfmiddlewaretoken': '{{ csrf_token }}','category': '{{ view.kwargs.category }}' },
             dataType: "json",
             success: function(response) {
				console.log(response['status']);
			  if (response.status){
				   $('#follow-btn').replaceWith('<button type = "submit" class = "btn btn-danger "  style="float:right;" id="follow-btn" onclick="category_ajax()" >Following</button>');
			  }
			  else{
				   $('#follow-btn').replaceWith('<button type = "submit" class = "btn btn-outline-danger"  style="float:right; " id="follow-btn" onclick="category_ajax()">+ Follow</button>');
			  }
              }

        });

	 }

	 
	
	{% endblock script %}