{% extends 'blog/base.html' %}
{% load social_share %}
{% block style %}

@media(min-width:768px)
{
	.entries
{
	min-width:740px;
}
.blog .sidebar
{
	margin: 0 0 0px 0px;
}

}


{% endblock style %}
{% block content %}



    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog" style="padding-top:0px;">
      <div class="container" >

        <div class="row">

          <div class="entries">

            <article class="entry entry-single">

              <div class="entry-img">
                <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="#">{{ post.title }}</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a></li>
                  <li class="d-flex align-items-center" style="cursor:pointer;"><i class="icofont-wall-clock"></i> <time datetime="2020-01-01">{{ post.date_posted|date }}</time></li>
                  {% if post.author == user %}
                  <li class="d-flex align-items-center"><i class="fa fa-pencil-square-o"></i> <a href="{% url 'post-update' object.slug %}">Edit Post</a></li>
                  <li class="d-flex align-items-center"><i class="fas fa-trash"></i> <a href="{% url 'post-delete' object.slug %}">Delete Post</a></li>
                  {% else %}

                  {% if post_is_bookmarked%}
                    <a type="submit" name="post_id" value="{{object.id}}" class="btn btn-lg bookmark-btn shadow-none" style="cursor:pointer;"><i
                        class="fas fa-bookmark fa-3x btn-bookmark"  aria-hidden="true"></i> Bookmark Post</a>
                    {% else %}
                    <a type="submit" name="post_id" value="{{object.id}}" class="btn btn-lg bookmark-btn shadow-none " style="cursor:pointer;" ><i
                        class="far fa-bookmark fa-3x btn-bookmark"  aria-hidden="true"></i>Bookmark Post</a>
                  {% endif %}

                  <li class="d-flex align-items-center" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-exclamation-triangle"></i>Report Post</li>
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
					  <div class="modal-content">
						<div class="modal-header">
						  <h5 class="modal-title" id="exampleModalLabel" style="cursor:pointer;">Report Post</h5>
						  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						  </button>
						</div>
						<div class="modal-body">
						
						  Are you sure you want to report the post?
						<br>
						<br>
						<label for="report">Select a reason:</label>

							<select name="report" id="report">
							<option value="Violent">Violent or repulsive content</option>
							<option value="Hateful">Hateful or abusive content</option>
							<option value="Harassment">Harassment or bullying</option>
							<option value="Spam">Spam or misleading</option>
							</select>


							
						
						</div>
						<div class="modal-footer">
						  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						  <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-report' object.slug %}" value='{{ object.slug }}'><i
							class="fas fa-exclamation-triangle"></i>&nbsp;</i>Report</a>
						</div>
					  </div>
					</div>
				  </div>
                  
                  {% endif %}
                  {% comment %} <li class="d-flex align-items-center"><i class="icofont-comment"></i> <a href="blog-single.html">12 Comments</a></li> {% endcomment %}
                </ul>
              </div>

              <div class="entry-content">
                
                <p>
                {{ post.content|safe }}
                </p>


               
              </div>

			  <div class='row'>
			
			<div>
					
					{% if post_is_upvoted %}
					<button type="submit" name="post_id" value="{{object.id}}" class="btn btn-lg upvote_btn shadow-none"><i
							class="fas fa-thumbs-up btn_upvote" aria-hidden="true"></i></button>
					{% else %}
					<button type="submit" name="post_id" value="{{object.id}}" class="btn btn-lg upvote_btn shadow-none"><i
							class="far fa-thumbs-up btn_upvote" aria-hidden="true"></i></button>
					{% endif %}
			
			</div>
			<div class="my-2" >
				<strong class="text-xl-center" id='upvote_count'>{{ number_of_upvotes }}</strong>
			</div>
<!-- downvotes -->
			<div>
				
					
					{% if post_is_downvoted %}
					<button type="submit" name="post_id" value="{{object.id}}" class="btn btn-lg downvote_btn shadow-none"><i
							class="fas fa-thumbs-down btn_downvote" aria-hidden="true"></i></button>
					{% else %}
					<button type="submit" name="post_id" value="{{object.id}}" class="btn btn-lg downvote_btn shadow-none"><i
							class="far fa-thumbs-down btn_downvote" aria-hidden="true"></i></button>
					{% endif %}
			
			</div>
			<div class="my-2" >
				<strong class="text-xl-center" id='downvote_count'>{{ number_of_downvotes }}</strong>
			</div>
			</div>

              <div class="entry-footer clearfix">
                <div class="float-left">
                  <i class="icofont-folder"></i>
                  <ul class="cats">
                    <li><a href="#">{{ post.category }}</a></li>
                  </ul>

                  <i class="icofont-tags"></i>
                  <ul class="tags">
                  {% for tag in object.tags.all %}
        
                    <li><a href="{% url 'post-tags'  tag.name %}">{{ tag.name }}</a></li>
                    {% endfor %}
                  
                  </ul>
                </div>

                <div class="float-right share">





<span>	<!-- Button trigger modal -->
			{% if object.is_appropriate %}
			<i class="fas fa-share-square" type="button" class="" data-toggle="modal" data-target="#myModalCenter">
			</i> 
			{% endif %}
			<!-- Modal -->
			<div class="modal" id="myModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Share</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
				<div class="modal-body ml-3">
				<div class="row my-3">
								<div class="col-3" >{% post_to_facebook object_or_url '<i class="fab fa-facebook fa-3x mx-3" style="color: #3b5998;"></i>' %}</div>
								<div class="col-3">{% post_to_whatsapp object_or_url '<i class="fab fa-whatsapp fa-3x mx-3" style="color: #25D366;"></i>' %}</div>
								<div class="col-3">{% post_to_twitter "New Post on Gupshup!!!: {{object.title}}. Check it out!" object_or_url '<i class="fab fa-twitter fa-3x mx-3" style="color: #00acee;"></i>' %}</div>
								<div class="col-3">{% post_to_gplus object_or_url '<i class="fab fa-3x fa-google-plus-g" style=" color: #db4a39;"></i>' %}</div>
								</div> 
								<div class="row my-3">

								
								<div class="col-3" > </div>
								<div class="col-3" >{% send_email object.title "New Post: {{object.title}}. Check it out!" object_or_url '<i class="fas fa-envelope fa-3x mx-3" style="color: #BB001B;"></i>' %}</div>
								
								<div class="col-3" >{% post_to_telegram "New Post: {{object.title}}" object_or_url '<i class="fab fa-telegram fa-3x mx-3" style=" color: #0088cc;"></i>'  %}</div>
								<div class="col-3" ></div>
								</div>
				<div class="row container-fluid">
					<input id="myInput" class="form-control mx-0 px-0 col-10" value="{{ request.build_absolute_uri }}">
								<!-- Trigger -->
								 
								<button class="sharebtn col-2 btn-sm  btn-secondary px-0"  data-clipboard-text="{{ request.build_absolute_url }}" style = "border: None; background-color:white; margin:0px;" data-toggle="tooltip" data-placement="bottom" onclick="copyLink()" title="Copied Link!">
								<i class="fas fa-clipboard fa-2x"></i>
									
							</button>
							
						
							

				</div>
				</div>
			</div>
		</div>

			
		</div>
</span>

				



           
                </div>

              </div>

            </article><!-- End blog entry -->


			 

            <div class="blog-author clearfix">
              <img src={{object.author.profile.image.url}} class="rounded-circle float-left" alt="" style="height: 120px; width: 120px;">
              <h4><a href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a> </h4>
              
			  <p>
			  <a href = "mailto: {{ post.author.email }}" style="color: #b7b7b7;;">{{ post.author.email }}</a>
			  
			  </p>
			  	
                {% comment %} <a href="https://twitters.com/#"><i class="icofont-twitter"></i></a>
                <a href="https://facebook.com/#"><i class="icofont-facebook"></i></a>
                <a href="https://instagram.com/#"><i class="icofont-instagram"></i></a> {% endcomment %}
              
			  
              <p>
              {{ post.author.profile.about|safe }}
              </p>
            </div><!-- End blog author bio -->




			

            <div class="blog-comments">



				<div class="reply-form">
					<h4>Leave a Reply</h4>
					<p>Your email address will not be published. Required fields are marked * </p>
					<form action="{% url 'comment-ajax' %}" method="POST" id="comment-form">{% csrf_token %}
					  
					  <div class="row">
						<div class="col form-group">
						  <textarea id="comment-content" value = "{{object.slug}}" name="comment" class="form-control" placeholder="Your Comment*"></textarea>
						</div>
					  </div>
					  <button type="submit" class="btn btn-primary comment-form">Post Comment</button>
	
					</form>
	
				  </div>

        <div id='comment-loop' class='mt-4'>
				      {% include 'blog/comments.html' %}
			  </div>


          </div><!-- End blog entries list -->


         

    

      </div>
    </section><!-- End Blog Single Section -->

  </main><!-- End #main -->
{% endblock content %}


{% block script %}



function copyLink() {
  var copyText = document.getElementById("myInput");
  copyText.select();
  copyText.setSelectionRange(0, 99999)
  document.execCommand("copy");
 
}




 new ClipboardJS('.sharebtn');

$( document ).ready(function() {
        $('[data-toggle="tooltip"]').tooltip({'placement': 'bottom', trigger: 'focus', delay:{hide:50}});
    }); 

$('.c-upvote-btn').click(function(){
	console.log('hehe');
	
		 $.ajax({
             type: "POST",
             url: "{% url 'comment-upvote-ajax' %}",
             data: {'csrfmiddlewaretoken': '{{ csrf_token }}','comment_id': $(this).attr('value')},
             dataType: "json",
             success: function(response) {
			  if (response.up_status == 'liked'){
				 
				   $('#up'+response.id+'').replaceWith("<i class='fas fa-thumbs-up c-btn-upvote' id=up" + response['id'] + " aria-hidden='true'></i>");
				   $('#down'+response.id+'').replaceWith("<i class='far fa-thumbs-down c-btn-downvote' id=down" + response['id'] + " aria-hidden='true'></i>");
			  }
			  else{
				  $('#up'+response.id+'').replaceWith("<i class='far fa-thumbs-up c-btn-upvote' id=up" + response['id'] + " aria-hidden='true'></i>");
			  }
			  $('#com-upvote-count'+response.id+'').replaceWith("<strong class='text-xl-center' id=com-upvote-count"+ response.id + " >" + response.up_count + "</strong>")
			  $('#com-downvote-count'+response.id+'').replaceWith("<strong class='text-xl-center' id=com-downvote-count"+ response.id + " >" + response.down_count + "</strong>")
              }
			  

        });

	 })

$('.c-downvote-btn').click(function(){
		 $.ajax({
             type: "POST",
             url: "{% url 'comment-downvote-ajax' %}",
             data: {'csrfmiddlewaretoken': '{{ csrf_token }}','comment_id': $(this).attr('value')},
             dataType: "json",
             success: function(response) {
				 console.log(response);
			  if (response.down_status == 'liked'){
				 
				   $('#up'+response.id+'').replaceWith("<i class='far fa-thumbs-up c-btn-upvote' id=up" + response['id'] + " aria-hidden='true'></i>");
				   $('#down'+response.id+'').replaceWith("<i class='fas fa-thumbs-down c-btn-downvote' id=down" + response['id'] + " aria-hidden='true'></i>");
			  }
			  else{
				 $('#down'+response.id+'').replaceWith("<i class='far fa-thumbs-down c-btn-downvote' id=down" + response['id'] + " aria-hidden='true'></i>");
			  }
			  $('#com-upvote-count'+response.id+'').replaceWith("<strong class='text-xl-center' id=com-upvote-count"+ response.id + " >" + response.up_count + "</strong>")
			  $('#com-downvote-count'+response.id+'').replaceWith("<strong class='text-xl-center' id=com-downvote-count"+ response.id + " >" + response.down_count + "</strong>")
              }

        });

	 })

$('.upvote_btn').click(function(){
		 $.ajax({
             type: "POST",
             url: "{% url 'post-upvote-ajax' %}",
             data: {'csrfmiddlewaretoken': '{{ csrf_token }}','post_id': $(this).attr('value')},
             dataType: "json",
             success: function(response) {
			  if (response.up_status == 'liked'){
				   $('.btn_upvote').replaceWith("<i class='fas fa-thumbs-up btn_upvote' aria-hidden='true'></i>");
				   $('.btn_downvote').replaceWith("<i class='far fa-thumbs-down btn_downvote' aria-hidden='true'></i>");
			  }
			  else{
				  $('.btn_upvote').replaceWith("<i class='far fa-thumbs-up btn_upvote' aria-hidden='true'></i>");
			  }
			  $('#upvote_count').replaceWith("<strong class='text-xl-center' id='upvote_count'>" + response.up_count + "</strong>")
			  $('#downvote_count').replaceWith("<strong class='text-xl-center' id='downvote_count'>" + response.down_count + "</strong>")
              }

        });

	 })

$('.downvote_btn').click(function(){
		 $.ajax({
             type: "POST",
             url: "{% url 'post-downvote-ajax' %}",
             data: {'csrfmiddlewaretoken': '{{ csrf_token }}','post_id': $(this).attr('value')},
             dataType: "json",
             success: function(response) {
			  if (response.down_status == 'liked'){
				   $('.btn_upvote').replaceWith("<i class='far fa-thumbs-up btn_upvote' aria-hidden='true'></i>");
				   $('.btn_downvote').replaceWith("<i class='fas fa-thumbs-down btn_downvote' aria-hidden='true'></i>");
			  }
			  else{
				  $('.btn_downvote').replaceWith("<i class='far fa-thumbs-down btn_downvote' aria-hidden='true'></i>");
			  }
			  $('#upvote_count').replaceWith("<strong class='text-xl-center' id='upvote_count'>" + response.up_count + "</strong>")
			  $('#downvote_count').replaceWith("<strong class='text-xl-center' id='downvote_count'>" + response.down_count + "</strong>")
              }

        });

	 })

$('.bookmark-btn').click(function(){
		console.log("hehehe");
		 $.ajax({
             type: "POST",
             url: "{% url 'post-bookmark-ajax' %}",
             data: {'csrfmiddlewaretoken': '{{ csrf_token }}','post_id': $(this).attr('value')},
             dataType: "json",
             success: function(response) {
			  if (response.status){
				   $('.btn-bookmark').replaceWith("<i class='fas fa-bookmark fa-3x btn-bookmark'  aria-hidden='true'> </i>");
			  }
			  else{
				   $('.btn-bookmark').replaceWith("<i class='far fa-bookmark fa-3x btn-bookmark'  aria-hidden='true'> </i>");
			  }
              }

        });

	 })

$('#comment-form').on('submit', function(event){
		event.preventDefault();
		console.log("form submitted!")  // sanity check
		create_post();
	});


	function create_post() {
    console.log('IN create');
    $.ajax({
        url : {% url 'comment-ajax' %}, // the endpoint
        type : "POST", // http method
        data : {'csrfmiddlewaretoken': '{{ csrf_token }}', 'the_comment' : $('#comment-content').val(), 'object': '{{ post_connect }}' }, // data sent with the post request

        // handle a successful response
        success : function(response) {
            $('#comment-content').val(''); // remove the value from the input
			$("#comment-loop").empty();
			$("#comment-loop").html(response);
			init();
			
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
};

function init()
{
	$('.c-upvote-btn').click(function(){
	console.log('hehe');
	
		 $.ajax({
             type: "POST",
             url: "{% url 'comment-upvote-ajax' %}",
             data: {'csrfmiddlewaretoken': '{{ csrf_token }}','comment_id': $(this).attr('value')},
             dataType: "json",
             success: function(response) {
			  if (response.up_status == 'liked'){
				 
				   $('#up'+response.id+'').replaceWith("<i class='fas fa-thumbs-up c-btn-upvote' id=up" + response['id'] + " aria-hidden='true'></i>");
				   $('#down'+response.id+'').replaceWith("<i class='far fa-thumbs-down c-btn-downvote' id=down" + response['id'] + " aria-hidden='true'></i>");
			  }
			  else{
				  $('#up'+response.id+'').replaceWith("<i class='far fa-thumbs-up c-btn-upvote' id=up" + response['id'] + " aria-hidden='true'></i>");
			  }
			  $('#com-upvote-count'+response.id+'').replaceWith("<strong class='text-xl-center' id=com-upvote-count"+ response.id + " >" + response.up_count + "</strong>")
			  $('#com-downvote-count'+response.id+'').replaceWith("<strong class='text-xl-center' id=com-downvote-count"+ response.id + " >" + response.down_count + "</strong>")
              }
			  

        });

	 })

$('.c-downvote-btn').click(function(){
		 $.ajax({
             type: "POST",
             url: "{% url 'comment-downvote-ajax' %}",
             data: {'csrfmiddlewaretoken': '{{ csrf_token }}','comment_id': $(this).attr('value')},
             dataType: "json",
             success: function(response) {
				 console.log(response);
			  if (response.down_status == 'liked'){
				 
				   $('#up'+response.id+'').replaceWith("<i class='far fa-thumbs-up c-btn-upvote' id=up" + response['id'] + " aria-hidden='true'></i>");
				   $('#down'+response.id+'').replaceWith("<i class='fas fa-thumbs-down c-btn-downvote' id=down" + response['id'] + " aria-hidden='true'></i>");
			  }
			  else{
				 $('#down'+response.id+'').replaceWith("<i class='far fa-thumbs-down c-btn-downvote' id=down" + response['id'] + " aria-hidden='true'></i>");
			  }
			  $('#com-upvote-count'+response.id+'').replaceWith("<strong class='text-xl-center' id=com-upvote-count"+ response.id + " >" + response.up_count + "</strong>")
			  $('#com-downvote-count'+response.id+'').replaceWith("<strong class='text-xl-center' id=com-downvote-count"+ response.id + " >" + response.down_count + "</strong>")
              }

        });

	 })
}








{% endblock script %}