{% extends "blog/base.html" %}
{% load static %}
{% block head %}

{% comment %} <script src="https://cdn.tiny.cloud/1/fdkbtb1jjkqkbh2snkl1my296s7wwl5vy8kgfxcgelqabz3p/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        selector: '#id_content',
		forced_root_block: false,
		setup: function (editor) {
        editor.on('change', function () {
            editor.save();
        });
    },
		  plugins: [
      'advlist autolink link image lists charmap print preview hr anchor pagebreak',
      'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
      'table emoticons template paste help'
    ],
    toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
      'bullist numlist outdent indent | link image | print preview media fullpage | ' +
      'forecolor backcolor emoticons | help',
    menu: {
      favs: {title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons'}
    },
    menubar: 'favs file edit view insert format tools table help',
    content_css: 'css/content.css'
      });
	
	
    </script> {% endcomment %}







{% endblock head %}
 
{% load crispy_forms_tags%}

{% block style %}

.tags-input-wrapper{
    background: transparent;
    padding: 10px;
    border-radius: 4px;
   
    border: 1px solid #ccc
}
.tags-input-wrapper input{
    border: none;
    background: transparent;
    outline: none;
    margin-left: 8px;
    {% comment %} width: auto; {% endcomment %}
}
.tags-input-wrapper .tag{
    display: inline-block;
    background-color: #e03a3c;
    color: white;
    border-radius: 40px;
    padding: 0px 3px 0px 7px;
    margin-right: 5px;
    margin-bottom:5px;
    
}
.tags-input-wrapper .tag a {
    margin: 0 7px 3px;
    display: inline-block;
    cursor: pointer;
}

.ui-autocomplete {
  background: #e03a3c;
  
  border: none;
}
.ui-menu .ui-menu-item a {
  color: #000000;
  
  border: none;
}
.ui-menu .ui-menu-item a:hover {
  background: #e03a3c;
  color: #fff;
  border: none;
}
.ui-menu .ui-menu-item a:active {
  
  box-shadow: 0 0 30px #e03a3c;
  border: none;
}

 .ui-autocomplete , .ui-front , .ui-menu, .ui-widget, .ui-widget-content, .ui-corner-all{
  border: none;
} 



{% endblock style %}
{% comment %} 
.bootstrap-tagsinput {
	margin: 0;
	width: 100%;
	padding: 0.5rem 0.75rem 0;
	font-size: 1rem;
  line-height: 1.25;
	transition: border-color 0.15s ease-in-out;
	
	&.has-focus {
    background-color: #fff;
    border-color: #5cb3fd;
	}
	
	.label-info {
		display: inline-block;
		background-color: #636c72;
		padding: 0 .4em .15em;
		border-radius: .25rem;
		margin-bottom: 0.4em;
	}
	
	input {
		margin-bottom: 0.5em;
	}
}

.bootstrap-tagsinput .tag [data-role="remove"]:after {
	content: '\00d7';
} {% endcomment %}



{% block content %}


	<div class="content-section mt-3">
		<form method="POST">
			{% csrf_token %}
			
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">
					Post Your Question
				</legend>
      <div class="form-row">
      <div class="form-group col-12">
        {{ form.title|as_crispy_field }}
      </div>
      </div>
        <div class="form-row">
      <div class="form-group col-12 " >
        {{ form.content|as_crispy_field }}
      </div>
      </div>
        <div class="form-row">
      <div class="form-group col-12 " >
        {{ form.category|as_crispy_field }}
      </div>
      </div>
        <div class="form-row">
          <div class="form-group col-12"  >
			      {{ form.tags|as_crispy_field }}
				<small class="form-text text-muted">Separate keywords with a comma, space bar, or enter key</small>
			</div>
		</div>
        
      
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-danger" type="submit">Post</button>
			</div>

		</form>

		
		
			
	</div>
	

  <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
  <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.css" integrity="sha512-uKwYJOyykD83YchxJbUxxbn8UcKAQBu+1hcLDRKZ9VtWfpMb1iYfJ74/UIjXQXWASwSzulZEC1SFGj+cslZh7Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js" integrity="sha512-wTIaZJCW/mkalkyQnuSiBodnM5SRT8tXJ3LkIUA/3vBJ01vWe5Ene7Fynicupjt4xqxZKXA97VgNBHvIf5WTvg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	
{% endblock content %}


{% block script %}


  console.log('Hehe');
  const ls = [];
$( document ).ready(function() {
    $("#id_tag").autocomplete({
        source: "{% url 'tags-auto' %}",
        minLength: 1,
        open: function(){
                    setTimeout(function () {
                        $('.ui-autocomplete').css({'z-index':'9999', 'max-width':'70%', 'border':'none', 'box-shadow':'0px 0 30px rgba(1, 41, 112, 0.08)'});
                    }, 0);
                },
        select: function(event,ui){
                  return false;
            }
        
        
        });
});
 



       



(function () {
  "use strict"; // Plugin Constructor

  var TagsInput = function (opts) {
    this.options = Object.assign(TagsInput.defaults, opts);
    this.init();
  }; // Initialize the plugin


  TagsInput.prototype.init = function (opts) {
    this.options = opts ? Object.assign(this.options, opts) : this.options;
    if (this.initialized) this.destroy();

    if (!(this.orignal_input = document.getElementById(this.options.selector))) {
      console.error("tags-input couldn't find an element with the specified ID");
      return this;
    }

    this.arr = [];
    this.wrapper = document.createElement('div');
    this.input = document.createElement('input');
    this.input.setAttribute("id", "id_tag");
    
    
   
    init(this);
    initEvents(this);
    this.initialized = true;
    return this;
  }; // Add Tags


  TagsInput.prototype.addTag = function (string) {
    if (this.anyErrors(string)) return;
    this.arr.push(string);
    
    var tagInput = this;
    var tag = document.createElement('span');
    tag.className = this.options.tagClass;
    tag.innerText = string;
    
    var closeIcon = document.createElement('a');
    closeIcon.innerHTML = '&times;'; // delete the tag when icon is clicked
    closeIcon.addEventListener('click', function (e) {
      e.preventDefault();
      var tag = this.parentNode;

      for (var i = 0; i < tagInput.wrapper.childNodes.length; i++) {
        if (tagInput.wrapper.childNodes[i] == tag) tagInput.deleteTag(tag, i);
      }
    });
    tag.appendChild(closeIcon);
    this.wrapper.insertBefore(tag, this.input);
    this.orignal_input.value = this.arr.join(',');
    
    return this;
  }; // Delete Tags


  TagsInput.prototype.deleteTag = function (tag, i) {
    tag.remove();
    this.arr.splice(i, 1);
    this.orignal_input.value = this.arr.join(',');
    return this;
  }; // Make sure input string have no error with the plugin


  TagsInput.prototype.anyErrors = function (string) {
    if (this.options.max != null && this.arr.length >= this.options.max) {
      console.log('max tags limit reached');
      return true;
    }

    if (!this.options.duplicate && this.arr.indexOf(string) != -1) {
      console.log('duplicate found " ' + string + ' " ');
      return true;
    }

    return false;
  }; // Add tags programmatically 


  TagsInput.prototype.addData = function (array) {
    var plugin = this;
    array.forEach(function (string) {
      plugin.addTag(string);
    });
    return this;
  }; // Get the Input String


  TagsInput.prototype.getInputString = function () {
    return this.arr.join(',');
  }; // destroy the plugin


  TagsInput.prototype.destroy = function () {
    this.orignal_input.removeAttribute('hidden');
    delete this.orignal_input;
    var self = this;
    Object.keys(this).forEach(function (key) {
      if (self[key] instanceof HTMLElement) self[key].remove();
      if (key != 'options') delete self[key];
    });
    this.initialized = false;
  }; // Private function to initialize the tag input plugin


  function init(tags) {
    tags.wrapper.append(tags.input);
    tags.wrapper.classList.add(tags.options.wrapperClass);
    tags.orignal_input.setAttribute('hidden', 'true');
    tags.orignal_input.parentNode.insertBefore(tags.wrapper, tags.orignal_input);
  } // initialize the Events


  function initEvents(tags) {
    tags.wrapper.addEventListener('click', function () {
      tags.input.focus();
    });
    tags.input.addEventListener('keydown', function (e) {
      var str = tags.input.value.trim();

      if (!!~[9, 13, 188].indexOf(e.keyCode)) {
        e.preventDefault();
        tags.input.value = "";
        if (str != "") tags.addTag(str);
      }
    });
  } // Set All the Default Values


  TagsInput.defaults = {
    selector: '',
    wrapperClass: 'tags-input-wrapper',
    tagClass: 'tag',
    max: null,
    duplicate: false
  };
  window.TagsInput = TagsInput;
})();

var tagInput1 = new TagsInput({
  selector: 'id_tags',
  duplicate: false,
  max: 10
});
tagInput1.addData([]);



{% endblock script %}