{% comment %} {% extends "admin/change_form.html" %} {% endcomment %}
{% url 'blog-home' as home_url %}
{% url 'about' as about_url %}
{% url 'post-create' as post_new_url %}
{% url 'profile' as profile_url %}
{% url 'bookmark-post' as bookmark_url %}
{% url 'logout' as logout_url %}

{% load static %}
<!DOCTYPE html>
<html>
<head>

	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://kit.fontawesome.com/0493cbe504.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css'%}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

	<script src="https://cdn.tiny.cloud/1/fdkbtb1jjkqkbh2snkl1my296s7wwl5vy8kgfxcgelqabz3p/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>

	<link href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.min.css" rel="stylesheet">
	<script src="https://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>




	{% comment %} BOOTSTRAPMADE VENDOR {% endcomment %}

	  <!-- Favicons -->
		<link href="{% static 'blog/assets/img/gupshup_red.png'%}" rel="icon">
		<link href="{% static 'blog/assets/img/apple-touch-icon.png" rel="apple-touch-icon' %}">

		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

		<!-- Vendor CSS Files -->
		<link href="{% static 'blog/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'blog/assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
		<link href="{% static 'blog/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
		<link href="{% static 'blog/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
		<link href="{% static 'blog/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
		<link href="{% static 'blog/assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
		<link href="{% static 'blog/assets/vendor/aos/aos.css' %}" rel="stylesheet">

		<!-- Template Main CSS File -->
		<link href="{% static 'blog/assets/css/style.css' %}" rel="stylesheet">

	{% comment %} END OF VENDOR {% endcomment %}



	
	{% if title %}
		<title>GupShup - {{ title }}</title>
	{% else %}
		<title>GupShup </title>
	{% endif %}
	
	{% block head %}{% endblock head %}
</head>

<style>


/* CSS used here will be applied after bootstrap.css */

{% comment %} .dropdown {
    display:inline-block;
    margin-left:20px;
    padding:10px;
  } {% endcomment %}


{% comment %} .glyphicon-bell {
   
    font-size:1.5rem;
  } {% endcomment %}

{% comment %} .notifications {
  min-width:580px;
  } {% endcomment %}
  
  .notifications-wrapper {
     overflow:auto;
      max-height:250px;
    }
    
 {% comment %} .menu-title {
     color:#ff7788;
     font-size:1.5rem;
      display:inline-block;
      } {% endcomment %}
 
{% comment %} .glyphicon-circle-arrow-right {
      margin-left:10px;     
   }
   {% endcomment %}
   
 {% comment %} .notification-heading, .notification-footer  {
 	padding:2px 10px;
       } {% endcomment %}
      
        
{% comment %} .dropdown-menu.divider {
  margin:5px 0;          
  } {% endcomment %}

{% comment %} .item-title {
  
 font-size:1.3rem;
 color:#000;
    
} {% endcomment %}

{% comment %} .notifications a.content {
 text-decoration:none;
 background:#ccc;

 }
    
.notification-item {
 padding:10px;
 margin:5px;
 background:#ccc;
 border-radius:4px;
 } {% endcomment %}




	{% block style %} {% endblock style %}

	 {% comment %} /* Modify the background color */ 
          
        .navbar-custom { 
            background-color: #FFFFFF; 
        } 
        /* Modify brand and text color */ 
          
        .navbar-custom .navbar-brand, 
        .navbar-custom .navbar-text { 
            color: #1e212d; 
        } 

		.custom-toggler .navbar-toggler-icon {
  				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} {% endcomment %}


</style>



<header id="header" class="fixed-top">
    <div class="container-fluid">
      <div class="row " style="padding-left:5%;">
        <div class="col-xl-10 d-flex align-items-center">
          <a href="{% url 'blog-home'%}"><img src="{% static 'blog/assets/img/gupshup_red.png'%}" alt="" height="70px" width="100px"></a>
          <h1 class="logo mr-auto"><a href="{% url 'blog-home'%}">Gupshup<span>.</span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt=""></a>-->

          <nav class="nav-menu d-none d-lg-block" style="margin-left: 37%;">
            <ul style="margin-top:1%;">
              <li class="{% if request.path == home_url %} active {%endif%}"> <a class="nav-link" href="{% url 'blog-home' %}" ><i class="fas fa-home" style="font-size:24px;"></i></a></li>
              
              <li class="{% if request.path == about_url %} active {%endif%}"><a  class="nav-link" href="{{about_url}}" > <i class="fas fa-users-cog" style="font-size:24px;"></i></a></li>
             
			  {% if user.is_authenticated %}












        
     <li  class="drop-down" >
                
                
                {% comment %} <div class="dropdown"> {% endcomment %}
  <a class="nav-link" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
    <i class="fas fa-bell fa-lg" style="font-size:24px; "></i>
  </a>  
  
  <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">
    
    <div class="notification-heading"><h4 class="menu-title">Notifications</h4>
    </div>
    <li class="divider"></li>
    
   <div class="notifications-wrapper">
   			{% for notification in  user.notifications.unread %}
             
       
        {% if notification.verb == "Comment" %}
        <div class="alert alert-info">
					<strong class="default"><i class="fas fa-thumbs-up"></i> <a href="{% url 'user-posts' notification.actor.username %}">{{ notification.actor.username }}</a> {{ notification.description }}  <a href="{% url 'post-detail' notification.target_object_id %}"> {{ notification.verb }} </a></strong>  
					</div>
        {% elif notification.description == "liked your " %}
          <div class="alert alert-success">
					<strong class="default"><i class="fas fa-thumbs-up"></i> <a href="{% url 'user-posts' notification.actor.username %}">{{ notification.actor.username }}</a> {{ notification.description }}  <a href="{% url 'post-detail' notification.target_object_id %}"> {{ notification.verb }} </a></strong>  
					</div>
        {% elif notification.description == "commented on your  " %}
        <div class="alert alert-warning">
					<strong class="default"><i class="fa fa-comments"></i> <a href="{% url 'user-posts' notification.actor.username %}">{{ notification.actor.username }}</a> {{ notification.description }}  <a href="{% url 'post-detail' notification.target_object_id %}"> {{ notification.verb }} </a></strong>  
					</div>
        {% elif notification.description == "deleted your " %}
        <div class="alert alert-danger">
					<strong class="default"><i class="fas fa-exclamation-triangle"></i> Admin {{ notification.description }}  <a href="{% url 'post-detail' notification.target_object_id %}"> {{ notification.verb }} </a></strong>  
					</div>
        {% endif %}
     
  
       
  
            {% endfor %}
     
   </div>
   <li class="divider"></li>
  </ul>
  
{% comment %} </div> {% endcomment %}
                
                
                </li>
                 <li class="{% if request.path == post_new_url %} active {%endif%}"><a  class="nav-link" href="{% url 'post-create' %}" > <i class="fas fa-plus-circle" style="font-size:24px;"></i></a></li>
	        		 
					
					 
					 
				<li class="drop-down mx-5" ><a href="{% url 'profile' %}"><img class="rounded-circle article-img " style="max-height:50px; max-width:50px; " src = {{ user.profile.image.url }}></a>
               			 <ul>
						<li class="{% if request.path == profile_url %} active {%endif%}"><a  href="{% url 'profile' %}">Profile</a></li>
            <li class="{% if request.path == bookmark_url %} active {%endif%}"><a  href="{% url 'bookmark-post'%}" >Bookmark</a></li>
						
						<li class="{% if request.path == logout_url %} active {%endif%}"><a  href="{% url 'logout' %}">Logout</a></li>
						
						</ul>
              		</li>
			
				
					
	        	{% else %}
		           <li><a class="get-started-btn scrollto" style="color:white; " href="{% url 'login' %}">Login</a></li>
		           <li><a class="get-started-btn scrollto" style="color:white; "  href="{% url 'register' %}">Register</a></li>
		           {% endif %}

          
            </ul>

          </nav><!-- .nav-menu -->




			
        </div>
      </div>

    </div>
  </header><!-- End Header -->

	

	

	{% block carousel%}
	
	{% endblock %}
	
  <body style="background-color: #fbfafa;">
	
	{% comment %} <main id="main"> {% endcomment %}

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" >
	   <div class="row">

		<div class="col-lg-8 entries">
			<br><br><br>
			{% block content %}{% endblock %}
		</div>
	      
	    	
	    
  	<div class="col-lg-4">
	  <br><br><br>
            <div class="sidebar">
              <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text">
                  <button type="submit"><i class="icofont-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->

              <h3 class="sidebar-title">Categories</h3>
              <div class="sidebar-item categories">
                <ul>
                  <li><a href="#">General <span>(25)</span></a></li>
                  <li><a href="#">Lifestyle <span>(12)</span></a></li>
                  <li><a href="#">Travel <span>(5)</span></a></li>
                  <li><a href="#">Design <span>(22)</span></a></li>
                  <li><a href="#">Creative <span>(8)</span></a></li>
                  <li><a href="#">Educaion <span>(14)</span></a></li>
                </ul>
              </div><!-- End sidebar categories-->

              <h3 class="sidebar-title">Recent Posts</h3>
              <div class="sidebar-item recent-posts">
              {% for post in recent %}
                <div class="post-item clearfix">
                    <img src = {{ post.author.profile.image.url }} alt="" style='height: 80px; width: 80px;'>
                    <h4><a href="{% url 'post-detail' post.slug %}">{{ post.title }}</a></h4>
                    <time datetime="2020-01-01">{{ post.date_posted|date }}</time>
                  </div>
              {% endfor %}
                

                {% comment %} <div class="post-item clearfix">
                  <img src="assets/img/blog/blog-recent-2.jpg" alt="">
                  <h4><a href="blog-single.html">Quidem autem et impedit</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/blog/blog-recent-3.jpg" alt="">
                  <h4><a href="blog-single.html">Id quia et et ut maxime similique occaecati ut</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/blog/blog-recent-4.jpg" alt="">
                  <h4><a href="blog-single.html">Laborum corporis quo dara net para</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/blog/blog-recent-5.jpg" alt="">
                  <h4><a href="blog-single.html">Et dolores corrupti quae illo quod dolor</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div> {% endcomment %}

              </div><!-- End sidebar recent posts-->

              <h3 class="sidebar-title">Tags</h3>
              <div class="sidebar-item tags">
                <ul>
                {% for tag in tags %}
                  <li><a href="{% url 'post-tags' tag %}">{{ tag }}</a></li>
                {% endfor %}
                  {% comment %} <li><a href="#">App</a></li>
                  <li><a href="#">IT</a></li>
                  <li><a href="#">Business</a></li>
                  <li><a href="#">Mac</a></li>
                  <li><a href="#">Design</a></li>
                  <li><a href="#">Office</a></li>
                  <li><a href="#">Creative</a></li>
                  <li><a href="#">Studio</a></li>
                  <li><a href="#">Smart</a></li>
                  <li><a href="#">Tips</a></li>
                  <li><a href="#">Marketing</a></li> {% endcomment %}
                </ul>
              </div><!-- End sidebar tags-->

            </div><!-- End sidebar -->


	    </div>

</div>

      </div>
</section><!-- End Blog Section -->

{% comment %} </main><!-- End #main --> {% endcomment %}




	<!-- Optional JavaScript -->
   

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" async defer></script>

  <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">

<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>

<!-- Vendor JS Files -->
  <script src="{% static 'blog/assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'blog/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'blog/assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'blog/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'blog/assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'blog/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'blog/assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'blog/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'blog/assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'blog/assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'blog/assets/js/main.js' %}"></script>
	<script>{% block script %}{% endblock script %}</script>
	{% block extrahead %}{% endblock extrahead %}
</body>
</html>
