{% load static %}
  <!-- Mobile Specific Metas
================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Construction Html5 Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

  <!-- CSS
================================================== -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static 'blog/carousel/plugins/bootstrap/bootstrap.min.css'%}">
  <!-- FontAwesome -->
  <script src="https://kit.fontawesome.com/0493cbe504.js" crossorigin="anonymous"></script>
  <!-- slick Carousel -->
  <link rel="stylesheet" href="{% static 'blog/carousel/plugins/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static 'blog/carousel/plugins/slick/slick-theme.css' %}">
 
  <!-- Template styles-->
  <link rel="stylesheet" href="{% static 'blog/carousel/css/carousel_style.css'%}">


 
<div class="body-inner">

<div class="banner-carousel banner-carousel-2 mb-0">
  <div class="banner-carousel-item" style="background-image:url({%static 'blog/business_banner.jpg'%});">
    <div class="container">
        <div class="box-slider-content">
          <div class="box-slider-text">
              <h2 class="box-slide-title">17 Years Of Excellence In</h2>
              <h3 class="box-slide-sub-title">Construction Industry</h3>
              <p class="box-slide-description">You have ideas, goals, and dreams. We have a culturally diverse, forward
                thinking team looking for talent like.</p>
              <p>
                <a href="services.html" class="slider btn btn-primary">Our Service</a>
              </p>
          </div>
        </div>
    </div>
  </div>

  <div class="banner-carousel-item" style="background-image:url(images/slider-main/bg5.jpg)">
    <div class="slider-content text-left">
        <div class="container">
          <div class="box-slider-content">
              <div class="box-slider-text">
                <h2 class="box-slide-title">When Services Matters</h2>
                <h3 class="box-slide-sub-title">Your Choice is Simple</h3>
                <p class="box-slide-description">You have ideas, goals, and dreams. We have a culturally diverse, forward
                    thinking team looking for talent like.</p>
                <p><a href="about.html" class="slider btn btn-primary" aria-label="about-us">Know Us</a></p>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>


  
  <!-- Javascript Files
  ================================================== -->

  <!-- initialize jQuery Library -->
  <script src="{% static 'blog/carousel/plugins/jQuery/jquery.min.js' %}"></script>
  <!-- Bootstrap jQuery -->
  <script src="{% static 'blog/carousel/plugins/bootstrap/bootstrap.min.js' %}" defer></script>
  <!-- Slick Carousel -->
  <script src="{% static 'blog/carousel/plugins/slick/slick.min.js' %}"></script>
  <script src="{% static 'blog/carousel/plugins/slick/slick-animation.min.js' %}"></script>
 
  <!-- Template custom -->
  <script src="{% static 'blog/carousel/js/script.js' %}"></script>

</div><!-- Body inner end -->
  
