{% load static %}
  <!-- Mobile Specific Metas
================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Construction Html5 Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

  <!-- CSS
================================================== -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static 'blog/carousel/plugins/bootstrap/bootstrap.min.css'%}">
  <!-- FontAwesome -->
  <script src="https://kit.fontawesome.com/0493cbe504.js" crossorigin="anonymous"></script>
  <!-- slick Carousel -->
  <link rel="stylesheet" href="{% static 'blog/carousel/plugins/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static 'blog/carousel/plugins/slick/slick-theme.css' %}">
 
  <!-- Template styles-->
  <link rel="stylesheet" href="{% static 'blog/carousel/css/carousel_style.css'%}">


 
<div class="body-inner">



<div class="banner-carousel banner-carousel-2 mb-0">
  {% for post in posts %}
  <div class="banner-carousel-item" style="background-image:url({%static 'blog/business_banner.jpg'%});">
    <div class="container" >
        <div class="box-slider-content">
          <div class="box-slider-text" >
          <div class="d-flex flex-row">
          <img class="rounded-circle article-img" src = "{{post.author.profile.image.url}} "  style="height:50px; width: 50px;">

              <h2 class="box-slide-title my-3">{{ post.author }}</h2>
              </div>
              <h3 class="box-slide-sub-title">{{ post.title }}</h3>
              
              <p class="box-slide-description">{{ post.content|safe }}</p>
              <hr style="color: white;">
              {% comment %} <img class="rounded-circle article-img " src = {{post.author.profile.image.url}}> {% endcomment %}
              <p>
                <a href="services.html" class="slider btn btn-primary">View Post</a>
              </p>
          </div>
        </div>
    </div>
  </div>
  {% endfor %}
</div>


  
  <!-- Javascript Files
  ================================================== -->

  <!-- initialize jQuery Library -->
  <script src="{% static 'blog/carousel/plugins/jQuery/jquery.min.js' %}"></script>
  <!-- Bootstrap jQuery -->
  <script src="{% static 'blog/carousel/plugins/bootstrap/bootstrap.min.js' %}" defer></script>
  <!-- Slick Carousel -->
  <script src="{% static 'blog/carousel/plugins/slick/slick.min.js' %}"></script>
  <script src="{% static 'blog/carousel/plugins/slick/slick-animation.min.js' %}"></script>
 
  <!-- Template custom -->
  <script src="{% static 'blog/carousel/js/script.js' %}"></script>

</div><!-- Body inner end -->
  
