{% extends "blog/base.html" %}
{%block carousel%}
{% load crispy_forms_tags%}

<style>
#ip2 {
    border-radius: 25px;
    border: 2px solid #98ded9;
    padding: 20px; 
    width: 700px;
    height: 15px;
	text-align: center;    
}

.card-img-overlay {
  background-color: rgba(#000, 0.4);
}

.home_newpost:hover{
	background-color: #98ded9;
	color: black;
}
</style>
{% load static %}

{% comment %} 






{% comment %} second navbar {% endcomment %}
<div class="container-fluid" style="background-color: #c7ffd8">
		<div class="nav-scroller py-0 my-0 ">
			<nav class="nav d-flex justify-content-between">
			<a class="p-2 " style="color: #1e212d" href="{% url 'category' "Mechanical" %}">Mechanical</a>
			<a class="p-2 " style="color: #1e212d" href="{% url 'category' "Electronic" %}">Electronic</a>
			<a class="p-2 " style="color: #1e212d" href="{% url 'category' "Technology" %}">Technology</a>
			<a class="p-2 " style="color: #1e212d" href="{% url 'category' "Sports" %}">Sports</a>
			<a class="p-2 " style="color: #1e212d" href="{% url 'category' "Business" %}">Business</a>
			<a class="p-2 " style="color: #1e212d" href="{% url 'category' "Announcments" %}">Announcments</a>
			<a class="p-2 " style="color: #1e212d" href="{% url 'category' "Cultural" %}">Cultural</a>
			<a class="p-2 " style="color: #1e212d" href="{% url 'category' "Politics" %}">Politics</a>
			<a class="p-2 " style="color: #1e212d" href="{% url 'category' "Fashion" %}">Fashion</a>
			<a class="p-2 " style="color: #1e212d" href="{% url 'category' "Health" %}">Health</a>
			<a class="p-2 " style="color: #1e212d" href="{% url 'category' "Travel" %}">Travel</a>
			<a class="p-2 " style="color: #1e212d" href="{% url 'category' "Miscellenous" %}">Miscellenous</a>


			</nav>
		</div>
		<hr>
	</div>




<div class="container-fluid px-0 ">

	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
		  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
		  <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
		</ol>
		<div class="carousel-inner mt-0 py-0">
		  <div class="carousel-item active">
			
			{% if tops.4.category == "Business"%}

		  <div class="jumbotron " style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%),url({%static 'blog/business_banner.jpg'%}); border-radius: 0; margin-bottom: 0px; ">
		{% elif  tops.4.category == "Electronic" %}
			<div class="jumbotron " style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%),url({%static 'blog/electronic_banner.jpg'%}); border-radius: 0; margin-bottom: 0px; ">
		{% elif  tops.4.category == "Mechanical" %}
			<div class="jumbotron " style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%),url({%static 'blog/machine_banner.jpg'%}); border-radius: 0; margin-bottom: 0px; ">
		{% elif  tops.4.category == "Sports" %}
			<div class="jumbotron " style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%),url({%static 'blog/sports_banner.jpg'%}); border-radius: 0; margin-bottom: 0px; ">
		{% elif  tops.4.category == "Technology" %}
			<div class="jumbotron " style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%),url({%static 'blog/tech_banner.jpg'%}); border-radius: 0; margin-bottom: 0px; ">
		{% else %}
			<div class="jumbotron " style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%),url({%static 'blog/misc_banner.jpg'%}); border-radius: 0; margin-bottom: 0px; ">

		{% endif %}

      	<div class="container py-0 mb-0">
			
				<strong><h4 style="color: #FFFF;"><img class="rounded-circle article-img "src = {{posts.0.author.profile.image.url}}>{{tops.4.author}}</h4></strong>
				<h6 class="mb-2" style="color: white;"><hr style=" border-top: 2px solid #ffa372; width: 60%; margin-left: 0px; ;"/>
					{{tops.4.title}}</h6>
				<p  style="color: #FFF;">{{tops.4.content| safe}}</p>
				<i style="color: #FFF;">~{{tops.4.date_posted|date:"F d, Y"}}</i>
			
		  <p class="lead px-3">
			  <br>
		    <a class="btn btn-light " href="{% url 'post-detail' tops.4.id %}" role="button">View Post</a>
		  </p>
	  </div>
    </div>
    </div>
			 
			
			 
			
			{% comment %} Cultural
			Politic
			Fashion
			Healt
			Travel {% endcomment %}
			
		  

	{% for post in tops|slice:":4:" %}

	 
		<div class="carousel-item ">

		{% if post.category == "Business"%}

		  <div class="jumbotron " style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%),url({%static 'blog/business_banner.jpg'%}); border-radius: 0; margin-bottom: 0px; ">
		{% elif  post.category == "Electronic" %}
			<div class="jumbotron " style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%),url({%static 'blog/electronic_banner.jpg'%}); border-radius: 0; margin-bottom: 0px; ">
		{% elif  post.category == "Mechanical" %}
			<div class="jumbotron " style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%),url({%static 'blog/machine_banner.jpg'%}); border-radius: 0; margin-bottom: 0px; ">
		{% elif  post.category == "Sports" %}
			<div class="jumbotron " style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%),url({%static 'blog/sports_banner.jpg'%}); border-radius: 0; margin-bottom: 0px; ">
		{% elif  post.category == "Technology" %}
			<div class="jumbotron " style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%),url({%static 'blog/tech_banner.jpg'%}); border-radius: 0; margin-bottom: 0px; ">
		{% else %}
			<div class="jumbotron " style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%),url({%static 'blog/misc_banner.jpg'%}); border-radius: 0; margin-bottom: 0px; ">

		{% endif %}
		
			<div class="container py-0 mb-0">
			
				<strong><h4 style="color: #FFFF;"><img class="rounded-circle article-img "src = {{post.author.profile.image.url}}>{{post.author}}</h4></strong>
				<h6 class="mb-2" style="color: white;"><hr style=" border-top: 2px solid white; width: 60%; margin-left: 0px;"/>
					{{post.title}}</h6>
				<p  style="color: #FFF;">{{post.content| safe}}</p>
				<i style="color: #FFF;">~{{post.date_posted|date:"F d, Y"}}</i>
			
				<p class="lead px-3">
					<br>
				<a class="btn btn-light " href="{% url 'post-detail' post.id %}" role="button">View Post</a>
				</p>
			</div>
  		</div>
	</div>

	{% endfor %}
		  
</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		  <span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		  <span class="carousel-control-next-icon" aria-hidden="true"></span>
		  <span class="sr-only">Next</span>
		</a>
	  </div>
</div>






   
  
<div class="container-fluid px-0 mx-0 my-0 py-0 mb-3">

	<div class="alert alert-secondary my-0 py-0 " role="alert">

  <marquee  class="my-0 py-0"><p class="my-0 py-0" style="font-family: Impact; font-size: 15pt "> 
  <div  style="white-space: nowrap">
  {% for post in announcments|slice:"::-1"%}
  
  	<i class="fa fa-lightbulb-o" style="font-size:24px; color:red;"></i> 
 
			    <span ><a href="{% url 'post-detail' post.id %}" style="color: #1e212d; text-decoration: none" >{{ post.title }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>  </span>
				
		    
			
	{%endfor%}
	</div>
	</marquee>	

	</div>
</div>
	
	{% endblock %}
{% block content %}



		<div class="container-fluid my-3 ">
			<a type="button" class="btn btn-outline-primary container-fluid home_newpost" href="{% url 'post-create' %}">Whats on your mind??</a>

		</div>

		

	{% for post in posts|slice:"{{ page_obj.paginator.count }}-1::-1"%}
		<article class="media content-section">
			<img class="rounded-circle article-img "src = {{post.author.profile.image.url}}>
		    <div class="media-body">
			    <div class="article-metadata">
			      <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
			      <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
			    </div>
			    <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
				{% if post.content|length > 170%}
			    <p class="article-content">{{ post.content|slice:":170"| safe }}...</p>
				{% else %}
				 <p class="article-content">{{ post.content|slice:":170"| safe }}</p>
				{% endif %}
			</div>
		</article>
	{%endfor%}

	{% if is_paginated%}
		{% if page_obj.has_previous %}
			<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}

		{% for num in page_obj.paginator.page_range %}

			{% if page_obj.number == num %}

				<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
			{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
				<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
			{% endif %}

		{% endfor %}

		{% if page_obj.has_next %}
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
		{% endif %}

	{% endif %}
{% endblock content %}

{% block script %}
{% comment %} <script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script> {% endcomment %}

{% endblock script %}





