{% extends "blog/base.html" %}
{%block carousel%}
{% load crispy_forms_tags%}

<style>
#ip2 {
    border-radius: 25px;
    border: 2px solid #98ded9;
    padding: 20px; 
    width: 700px;
    height: 15px;
	text-align: center;    
}

.card-img-overlay {
  background-color: rgba(#000, 0.4);
}
</style>

{% comment %} 






{% comment %} second navbar {% endcomment %}
<div class="container-fluid" style="background-color: #c7ffd8">
		<div class="nav-scroller py-0 my-0 ">
			<nav class="nav d-flex justify-content-between">
			<a class="p-2 " style="color: #1e212d" href="{% url 'category' "Mechanical" %}">Mechanical</a>
			<a class="p-2 " style="color: #1e212d" href="{% url 'category' "Electronic" %}">Electronic</a>
			<a class="p-2 " style="color: #1e212d" href="{% url 'category' "Technology" %}">Technology</a>
			<a class="p-2 " style="color: #1e212d" href="{% url 'category' "Sports" %}">Sports</a>
			<a class="p-2 " style="color: #1e212d" href="{% url 'category' "Business" %}">Business</a>
			<a class="p-2 " style="color: #1e212d" href="{% url 'category' "Announcments" %}">Announcments</a>
			<a class="p-2 " style="color: #1e212d" href="{% url 'category' "Cultural" %}">Cultural</a>
			<a class="p-2 " style="color: #1e212d" href="{% url 'category' "Politics" %}">Politics</a>
			<a class="p-2 " style="color: #1e212d" href="{% url 'category' "Fashion" %}">Fashion</a>
			<a class="p-2 " style="color: #1e212d" href="{% url 'category' "Health" %}">Health</a>
			<a class="p-2 " style="color: #1e212d" href="{% url 'category' "Travel" %}">Travel</a>
			<a class="p-2 " style="color: #1e212d" href="{% url 'category' "Miscellenous" %}">Miscellenous</a>


			</nav>
		</div>
		<hr>
	</div>



<div class="container-fluid px-0 ">

	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
		  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner mt-0 py-0">
		  <div class="carousel-item active">

			<div class="jumbotron " style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%),url(https://source.unsplash.com/1600x500/?nature,water); border-radius: 0; margin-bottom: 0px; ">

      	<div class="container py-0 mb-0">
			
				<strong><h4 style="color: #FFFF;"><img class="rounded-circle article-img "src = {{posts.0.author.profile.image.url}}>{{posts.0.author}}</h4></strong>
				<h6 class="mb-2" style="color: white;"><hr style=" border-top: 2px solid #ffa372; width: 60%; margin-left: 0px; ;"/>
					{{posts.0.title}}</h6>
				<p  style="color: #FFF;">{{posts.0.content}}</p>
				<i style="color: #FFF;">~{{posts.0.date_posted|date:"F d, Y"}}</i>
			
		  <p class="lead px-3">
			  <br>
		    <a class="btn btn-light " href="{% url 'post-detail' posts.0.id %}" role="button">View Post</a>
		  </p>
	  </div>
    </div>
    </div>
			
		  

	 {% for post in posts|slice:"1::"%}

	 
		<div class="carousel-item ">

		  <div class="jumbotron " style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%),url(https://source.unsplash.com/1600x500/?nature,water); border-radius: 0; margin-bottom: 0px; ">

			<div class="container py-0 mb-0">
			
				<strong><h4 style="color: #FFFF;"><img class="rounded-circle article-img "src = {{post.author.profile.image.url}}>{{post.author}}</h4></strong>
				<h6 class="mb-2" style="color: white;"><hr style=" border-top: 2px solid white; width: 60%; margin-left: 0px;"/>
					{{post.title}}</h6>
				<p  style="color: #FFF;">{{post.content}}</p>
				<i style="color: #FFF;">~{{post.date_posted|date:"F d, Y"}}</i>
			
				<p class="lead px-3">
					<br>
				<a class="btn btn-light " href="{% url 'post-detail' post.id %}" role="button">View Post</a>
				</p>
			</div>
  		</div>
	</div>

	{% endfor %}
		  
</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		  <span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		  <span class="carousel-control-next-icon" aria-hidden="true"></span>
		  <span class="sr-only">Next</span>
		</a>
	  </div>
</div>






   
  
<div class="container-fluid px-0 mx-0 my-0 py-0 mb-3">

	<div class="alert alert-secondary my-0 py-0 " role="alert">

  <marquee  class="my-0 py-0"><p class="my-0 py-0" style="font-family: Impact; font-size: 15pt "> 
  <div  style="white-space: nowrap">
  {% for post in posts|slice:"::-1"%}
  {% if post.category == "Announcments"%}
  	<i class="fa fa-lightbulb-o" style="font-size:24px; color:red;"></i> 
 
			    <span ><a href="{% url 'post-detail' post.id %}" style="color: #1e212d; text-decoration: none" >{{ post.title }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>  </span>
				{% endif%}
		    
			
	{%endfor%}
	</div>
	</marquee>	

	</div>
</div>
	
	{% endblock %}
{% block content %}


<article class="media content-section">	    
				<!-- Button trigger modal -->
			<input type="text" id="ip2" data-toggle="modal" data-target="#exampleModal" placeholder="What is on your Mind? (Type Here)"/>


			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Post Something</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form method='POST'>
					<div class="form-group">
					{% csrf_token %}
						<label for="title" class="col-form-label">Title</label>
						<input type="text" name='title' class="form-control" id="title">
					</div>
					<div class="form-group">
						<label for="content" class="col-form-label">Content</label>
						<textarea class="form-control" name='content' id="content"></textarea>
					</div>
					<div class="form-group">
						<label for="category" class="col-form-label">Category</label>
						<select class="form-control" name='category' id="category">
						
						


						 <option id="Electronic" >Electronic</option>
						<option id=" Technology">Technology</option>
						<option  id="Sports">Sports</option>
						<option id="Business">Business</option>
						<option id="Announcments">Announcments</option>
						<option id="Cultural">Cultural</option>
						<option id="Politics">Politics</option>
						<option id="Fashion">Fashion</option>
						<option id="Health">Health</option>
						<option id="Travel">Travel</option>
						<option id="Miscellenous">Miscellenous</option>
						<option id="Mechanical">Mechanical</option>
						 
						</select>
					</div>
					<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Post</button>
					</div>
					</form>
				</div>
				
				</div>
			</div>
			</div>
				

		</article>



	{% for post in posts|slice:"::-1"%}
		<article class="media content-section">
			<img class="rounded-circle article-img "src = {{post.author.profile.image.url}}>
		    <div class="media-body">
			    <div class="article-metadata">
			      <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
			      <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
			    </div>
			    <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
			    <p class="article-content">{{ post.content }}</p>
			</div>
		</article>
	{%endfor%}

	{% if is_paginated%}
		{% if page_obj.has_previous %}
			<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}

		{% for num in page_obj.paginator.page_range %}

			{% if page_obj.number == num %}

				<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
			{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
				<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
			{% endif %}

		{% endfor %}

		{% if page_obj.has_next %}
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
		{% endif %}

	{% endif %}
{% endblock content %}

{% block script %}
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>

{% endblock script %}





