{% extends "blog/base.html" %}
{% load crispy_forms_tags%}
{% load social_share %}


{% block style %}
	.form-control-sm
	{
    min-height: 34px;
    padding: 7px 8px;
    font-size: 13px;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 8%);
	}
	.dropdown-menu
	{
		padding: 20px 10px 10px 10px;
		
	}

	.fa-whatsapp {
  
  color: #25D366;
}
.fa-google-plus-g {
  
  color: #db4a39;
}
.fa-envelope {
    
    color: #BB001B;
}

.fa-twitter {
    
    color: #00acee;
}
.fa-facebook-f {
    
    color: #3b5998;
}
.fa-telegram {
    
    color: #0088cc;
}

{% endblock style %}
{% block content %}

<article class="media content-section">
<!-- post details -->
	<img class="rounded-circle article-img " src={{object.author.profile.image.url}}>
	<div class="media-body">
		<div class="article-metadata">
			<a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
			<small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
			{% if user.is_authenticated %}
<!-- bookmarks -->
			
				{% if post_is_bookmarked%}
				<button type="submit" name="post_id" value="{{object.id}}" class="btn btn-lg bookmark-btn shadow-none" style="float: right;"><i
						class="fas fa-bookmark fa-2x btn-bookmark" style="color: red;" aria-hidden="true"></i></button>
				{% else %}
				<button type="submit" name="post_id" value="{{object.id}}" class="btn btn-lg bookmark-btn shadow-none " style="float: right;"><i
						class="far fa-bookmark fa-2x btn-bookmark" style="color: red;" aria-hidden="true"></i></button>
				{% endif %}
		
			{% else %}
			<a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to Bookmark this
				article!</a><br>
			{% endif %}

			{% if object.author == user %}
<!-- post update and delete  -->
			<div>
				<a class="btn btn-warning btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}"><i
						class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Edit</a>
				<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}"><i
						class="fas fa-trash" aria-hidden="true">&nbsp;</i>Delete</a>
				
			{% else %}
				
				<button type="button" class="btn btn-danger btn-sm mt-1 mb-1" data-toggle="modal" data-target="#exampleModal">
					<i class='fas fa-exclamation-triangle'> Report</i>
				</button>
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
					  <div class="modal-content">
						<div class="modal-header">
						  <h5 class="modal-title" id="exampleModalLabel">Report Post</h5>
						  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						  </button>
						</div>
						<div class="modal-body">
						  Are you sure you want to report the post?
						</div>
						<div class="modal-footer">
						  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						  <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-report' object.id %}" value='{{ object.id }}'><i
							class="fas fa-exclamation-triangle"></i>&nbsp;</i>Report</a>
						</div>
					  </div>
					</div>
				  </div>
					{% endif%}
<!-- share a post -->
				


			<!-- Button trigger modal -->
			<button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#exampleModalCenter">
			<i class="fas fa-share"></i> Share
			</button>

			<!-- Modal -->
			<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Share</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body ml-3">
				<div class="row my-3">
								<div class="col-3">{% post_to_facebook object_or_url '<i class="fab fa-facebook-f fa-3x mx-3"></i>' %}</div>
								<div class="col-3">{% post_to_whatsapp object_or_url '<i class="fab fa-whatsapp fa-3x mx-3"></i>' %}</div>
								<div class="col-3">{% post_to_twitter "New Post on Gupshup!!!: {{object.title}}. Check it out!" object_or_url '<i class="fab fa-twitter fa-3x mx-3"></i>' %}</div>
								<div class="col-3">{% post_to_gplus object_or_url '<i class="fab fa-3x fa-google-plus-g"></i>' %}</div>
								</div>
								<div class="row my-3">

								
								<div class="col-3" > </div>
								<div class="col-3" >{% send_email object.title "New Post: {{object.title}}. Check it out!" object_or_url '<i class="fas fa-envelope fa-3x mx-3"></i>' %}</div>
								
								<div class="col-3" >{% post_to_telegram "New Post: {{object.title}}" object_or_url '<i class="fab fa-telegram fa-3x mx-3"></i>'  %}</div>
								<div class="col-3" ></div>
								</div>
				<div class="row container-fluid">
					<input  class="form-control mx-0 px-0 col-10" value="{{ request.build_absolute_uri }}">
								<!-- Trigger -->
								 
								<button class="sharebtn col-2 btn btn-secondary" data-clipboard-text="{{ request.build_absolute_uri }}" style = "border: None;" data-toggle="tooltip" data-placement="bottom" title="Copied Link!">
								<i class="fas fa-clipboard"></i>
									
							</button>
							
						
							

				</div>
				</div>
			</div>
			</div>









			
		</div>
<!-- post content -->
		<a href="{% url 'category' object.category %}"><h6><span class="badge badge-secondary">{{ object.category }}</span></h6></a>
		<h2 class="article-title">{{ object.title | safe }} </h2>

		<p class="article-content">{{ object.content| safe }}</p>
		
		<!-- upvotes -->
		<div class='row'>
			{% if user.is_authenticated %}
			<div >
					
					{% if post_is_upvoted %}
					<button type="submit" name="post_id" value="{{object.id}}" class="btn btn-lg upvote_btn shadow-none"><i
							class="fas fa-thumbs-up btn_upvote" aria-hidden="true"></i></button>
					{% else %}
					<button type="submit" name="post_id" value="{{object.id}}" class="btn btn-lg upvote_btn shadow-none"><i
							class="far fa-thumbs-up btn_upvote" aria-hidden="true"></i></button>
					{% endif %}
			
			</div>
			<div class="my-2" >
				<strong class="text-xl-center" id='upvote_count'>{{ number_of_upvotes }}</strong>
			</div>
<!-- downvotes -->
			<div>
				
					
					{% if post_is_downvoted %}
					<button type="submit" name="post_id" value="{{object.id}}" class="btn btn-lg downvote_btn shadow-none"><i
							class="fas fa-thumbs-down btn_downvote" aria-hidden="true"></i></button>
					{% else %}
					<button type="submit" name="post_id" value="{{object.id}}" class="btn btn-lg downvote_btn shadow-none"><i
							class="far fa-thumbs-down btn_downvote" aria-hidden="true"></i></button>
					{% endif %}
			
			</div>
			<div class="my-2" >
				<strong class="text-xl-center" id='downvote_count'>{{ number_of_downvotes }}</strong>
			</div>
<!-- user authentication check -->
			{% else %}
			<a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to like this
				article!</a><br>
			{% endif %}
		</div>
		<h4>Answer This Here!</h4>
		<div id="comments_section">

			{% if user.is_authenticated %}
			
				<div class="form-group">
					<form action="{% url 'comment-ajax' %}" method="POST" id="comment-form">
					<textarea id="comment-content" name="comment-content" value = "{{object.id}}" rows="5" cols="80"> </textarea>
  					<br><br>
					  <button class="btn btn-info comment-form" type="submit">Continue Discussion <i
							class="fa fa-comments"></i></button>
					  </form>
				</div>
			
			{% else %}
			<a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to answer
				this!</a><br>
			{% endif %}
<!-- comments -->
			<div id='comment-loop'>
				{% include 'blog/comments.html' %}
			</div>

		</div>

	</div>
</article>

{% endblock content %}

{% block script %}
 new ClipboardJS('.sharebtn');
 

$( document ).ready(function() {
        $('[data-toggle="tooltip"]').tooltip({'placement': 'bottom', trigger: 'focus', delay:{hide:50}});
    }); 

$('.c-upvote-btn').click(function(){
	console.log('hehe');
	
		 $.ajax({
             type: "POST",
             url: "{% url 'comment-upvote-ajax' %}",
             data: {'csrfmiddlewaretoken': '{{ csrf_token }}','comment_id': $(this).attr('value')},
             dataType: "json",
             success: function(response) {
			  if (response.up_status == 'liked'){
				 
				   $('#up'+response.id+'').replaceWith("<i class='fas fa-thumbs-up c-btn-upvote' id=up" + response['id'] + " aria-hidden='true'></i>");
				   $('#down'+response.id+'').replaceWith("<i class='far fa-thumbs-down c-btn-downvote' id=down" + response['id'] + " aria-hidden='true'></i>");
			  }
			  else{
				  $('#up'+response.id+'').replaceWith("<i class='far fa-thumbs-up c-btn-upvote' id=up" + response['id'] + " aria-hidden='true'></i>");
			  }
			  $('#com-upvote-count'+response.id+'').replaceWith("<strong class='text-xl-center' id=com-upvote-count"+ response.id + " >" + response.up_count + "</strong>")
			  $('#com-downvote-count'+response.id+'').replaceWith("<strong class='text-xl-center' id=com-downvote-count"+ response.id + " >" + response.down_count + "</strong>")
              }
			  

        });

	 })

$('.c-downvote-btn').click(function(){
		 $.ajax({
             type: "POST",
             url: "{% url 'comment-downvote-ajax' %}",
             data: {'csrfmiddlewaretoken': '{{ csrf_token }}','comment_id': $(this).attr('value')},
             dataType: "json",
             success: function(response) {
				 console.log(response);
			  if (response.down_status == 'liked'){
				 
				   $('#up'+response.id+'').replaceWith("<i class='far fa-thumbs-up c-btn-upvote' id=up" + response['id'] + " aria-hidden='true'></i>");
				   $('#down'+response.id+'').replaceWith("<i class='fas fa-thumbs-down c-btn-downvote' id=down" + response['id'] + " aria-hidden='true'></i>");
			  }
			  else{
				 $('#down'+response.id+'').replaceWith("<i class='far fa-thumbs-down c-btn-downvote' id=down" + response['id'] + " aria-hidden='true'></i>");
			  }
			  $('#com-upvote-count'+response.id+'').replaceWith("<strong class='text-xl-center' id=com-upvote-count"+ response.id + " >" + response.up_count + "</strong>")
			  $('#com-downvote-count'+response.id+'').replaceWith("<strong class='text-xl-center' id=com-downvote-count"+ response.id + " >" + response.down_count + "</strong>")
              }

        });

	 })

$('.upvote_btn').click(function(){
		 $.ajax({
             type: "POST",
             url: "{% url 'post-upvote-ajax' %}",
             data: {'csrfmiddlewaretoken': '{{ csrf_token }}','post_id': $(this).attr('value')},
             dataType: "json",
             success: function(response) {
			  if (response.up_status == 'liked'){
				   $('.btn_upvote').replaceWith("<i class='fas fa-thumbs-up btn_upvote' aria-hidden='true'></i>");
				   $('.btn_downvote').replaceWith("<i class='far fa-thumbs-down btn_downvote' aria-hidden='true'></i>");
			  }
			  else{
				  $('.btn_upvote').replaceWith("<i class='far fa-thumbs-up btn_upvote' aria-hidden='true'></i>");
			  }
			  $('#upvote_count').replaceWith("<strong class='text-xl-center' id='upvote_count'>" + response.up_count + "</strong>")
			  $('#downvote_count').replaceWith("<strong class='text-xl-center' id='downvote_count'>" + response.down_count + "</strong>")
              }

        });

	 })

$('.downvote_btn').click(function(){
		 $.ajax({
             type: "POST",
             url: "{% url 'post-downvote-ajax' %}",
             data: {'csrfmiddlewaretoken': '{{ csrf_token }}','post_id': $(this).attr('value')},
             dataType: "json",
             success: function(response) {
			  if (response.down_status == 'liked'){
				   $('.btn_upvote').replaceWith("<i class='far fa-thumbs-up btn_upvote' aria-hidden='true'></i>");
				   $('.btn_downvote').replaceWith("<i class='fas fa-thumbs-down btn_downvote' aria-hidden='true'></i>");
			  }
			  else{
				  $('.btn_downvote').replaceWith("<i class='far fa-thumbs-down btn_downvote' aria-hidden='true'></i>");
			  }
			  $('#upvote_count').replaceWith("<strong class='text-xl-center' id='upvote_count'>" + response.up_count + "</strong>")
			  $('#downvote_count').replaceWith("<strong class='text-xl-center' id='downvote_count'>" + response.down_count + "</strong>")
              }

        });

	 })

$('.bookmark-btn').click(function(){
		console.log("hehehe");
		 $.ajax({
             type: "POST",
             url: "{% url 'post-bookmark-ajax' %}",
             data: {'csrfmiddlewaretoken': '{{ csrf_token }}','post_id': $(this).attr('value')},
             dataType: "json",
             success: function(response) {
			  if (response.status){
				   $('.btn-bookmark').replaceWith("<i class='fas fa-bookmark fa-2x btn-bookmark' style='color: red;' aria-hidden='true'></i>");
			  }
			  else{
				   $('.btn-bookmark').replaceWith("<i class='far fa-bookmark fa-2x btn-bookmark' style='color: red;' aria-hidden='true'></i>");
			  }
              }

        });

	 })

$('#comment-form').on('submit', function(event){
		event.preventDefault();
		console.log("form submitted!")  // sanity check
		create_post();
	});


	function create_post() {
    
    $.ajax({
        url : {% url 'comment-ajax' %}, // the endpoint
        type : "POST", // http method
        data : {'csrfmiddlewaretoken': '{{ csrf_token }}', 'the_comment' : $('#comment-content').val(), 'object': {{ post_connect }} }, // data sent with the post request

        // handle a successful response
        success : function(response) {
            $('#comment-content').val(''); // remove the value from the input
			$("#comment-loop").empty();
			$("#comment-loop").html(response);
			init();
			
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
};

function init()
{
	$('.c-upvote-btn').click(function(){
	console.log('hehe');
	
		 $.ajax({
             type: "POST",
             url: "{% url 'comment-upvote-ajax' %}",
             data: {'csrfmiddlewaretoken': '{{ csrf_token }}','comment_id': $(this).attr('value')},
             dataType: "json",
             success: function(response) {
			  if (response.up_status == 'liked'){
				 
				   $('#up'+response.id+'').replaceWith("<i class='fas fa-thumbs-up c-btn-upvote' id=up" + response['id'] + " aria-hidden='true'></i>");
				   $('#down'+response.id+'').replaceWith("<i class='far fa-thumbs-down c-btn-downvote' id=down" + response['id'] + " aria-hidden='true'></i>");
			  }
			  else{
				  $('#up'+response.id+'').replaceWith("<i class='far fa-thumbs-up c-btn-upvote' id=up" + response['id'] + " aria-hidden='true'></i>");
			  }
			  $('#com-upvote-count'+response.id+'').replaceWith("<strong class='text-xl-center' id=com-upvote-count"+ response.id + " >" + response.up_count + "</strong>")
			  $('#com-downvote-count'+response.id+'').replaceWith("<strong class='text-xl-center' id=com-downvote-count"+ response.id + " >" + response.down_count + "</strong>")
              }
			  

        });

	 })

$('.c-downvote-btn').click(function(){
		 $.ajax({
             type: "POST",
             url: "{% url 'comment-downvote-ajax' %}",
             data: {'csrfmiddlewaretoken': '{{ csrf_token }}','comment_id': $(this).attr('value')},
             dataType: "json",
             success: function(response) {
				 console.log(response);
			  if (response.down_status == 'liked'){
				 
				   $('#up'+response.id+'').replaceWith("<i class='far fa-thumbs-up c-btn-upvote' id=up" + response['id'] + " aria-hidden='true'></i>");
				   $('#down'+response.id+'').replaceWith("<i class='fas fa-thumbs-down c-btn-downvote' id=down" + response['id'] + " aria-hidden='true'></i>");
			  }
			  else{
				 $('#down'+response.id+'').replaceWith("<i class='far fa-thumbs-down c-btn-downvote' id=down" + response['id'] + " aria-hidden='true'></i>");
			  }
			  $('#com-upvote-count'+response.id+'').replaceWith("<strong class='text-xl-center' id=com-upvote-count"+ response.id + " >" + response.up_count + "</strong>")
			  $('#com-downvote-count'+response.id+'').replaceWith("<strong class='text-xl-center' id=com-downvote-count"+ response.id + " >" + response.down_count + "</strong>")
              }

        });

	 })
}

{% endblock script %}