{% extends "blog/base.html" %}
{% load crispy_forms_tags%}
{% block content %}
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">
					Log In
				</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
			<button class="btn btn-outline-danger" name="next" value="{{ request.GET.next }}" type="submit">Login</button>
				<a class="btn btn-outline-dark" role="button" style="text-transform:none" href="{% url 'social:begin' 'google-oauth2' %}">
     			 <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
     				 Sign In With Google
    			</a>
				<small class="text-muted ml-2"><a href="{% url 'password_reset' %}"> Forgot Password? </a></small>

			</div>

		</form>
		<div class="border-top pt-3">
			<small class="text-muted">
			Need an account? <a class="ml-2" href="{% url 'register' %}">Sign up now</a>
		</small>
		</div>
			
	</div>
{% endblock content %}
